@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  color: #0D1329;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

svg {
  stroke-width: 0.7;
}

.containerSide {
  padding-left: 90px;
  padding-right: 30px;
}

h1,
h2,
h3,
p,
a,
div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-color: #F3F3F3;
}