@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

svg {
  stroke-width: 0.7;
}

.containerSide {
  padding-left: 90px;
  padding-right: 30px;
}

input {
  &:active {
    transform: scale(0.98);
    transition: all 0.1s ease;
  }
}

body {
  background-color: #F3F3F3;
}